<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Our Resaurants:</h1>
    </header>   
    <div class="content">
      {{{body}}}
    </div>
    <footer>
      <p>Contact: bahare.ghasemi.phh@gmail.com</p>
    </footer>
</body>
</html>
